# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Logs
logs
*.log

# Next.js
frontend/.next
frontend/out

# Env files
.env
.env.*

# Editor
.vscode
.idea
.DS_Store
